body {
  font-family: 'Avenir';
  margin: 0;
  margin-bottom: 50px;
  height: 100vh;
}

nav {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 20px;
}

nav a:hover {
  text-decoration: line-through;
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: 'Baskerville', serif;
  font-weight: normal;
  font-size: 42px;
}

h2 {
  font-size: 24px;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: normal;
}

h4 {
  font-family: 'Baskerville';
  font-weight: normal;
  font-size: 18px;
}

h5 {
  font-weight: normal;
}

.thumbnail {
  width: 200px;
}

#x {
  font-weight: lighter;
  font-size: 56px;
  text-align: right;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

button {
  background-color: white;
  color: black;
  border: 1px solid black;
  width: auto;
  margin: 10px auto;
  padding: 8px;
  font-size: 14px;
  font-family: 'Avenir';
  text-transform: lowercase;
}

button:hover {
  box-shadow: inset 2px 2px black;
  transition: 0.4s;
}

button[type='submit'] {
  width: 80px;
  margin: 20px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: space-between;
}

.artwork, .artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px 20px;
  flex-wrap: wrap;
}
.artist {
  width: 20vw;
}

.artist:hover,.artwork:hover, button:hover {
  cursor: pointer;
}
.artist:hover h3, .artwork:hover h3, a.back:hover{
  text-decoration: line-through;
}
.artist img, .artwork img {
  width: 100%;
}

.artwork {
  width: 25vw;
}

#sketch-container {
  position: relative;
  width: 60vw;
  left: 50px;
}

#sketch-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.crud-buttons {
  width: 100px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 20px;
  top: 210px;
}

.crud-buttons button {
  width: 80px;
}

canvas {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10;
}

.options {
  float: right;
  margin: 0 20px;
  padding: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  border: 1px solid black;
  height: 300px;
}

.options div, .options button {
  margin: 5px 0;
}

.options div {
  display: flex;
  align-items: center;
}

.options label {
  margin-right: 10px;
  margin-bottom: 10px; 
}

.options button:hover {
  background-color: white;
  color: black;
  box-shadow: inset 1px 1px black;
  text-decoration: none;
  transition: 0.5s;
}

#logo:after {
  content: 'Defacer'
}

#logo:hover:after {
  content: 'D$F%C#R';
}

.form {
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 20px;
  align-items: center;
  width: 350px;
  margin: 40px auto;
}

.inline-buttons {
  display: flex;
  justify-content: space-between;
}

.inline-buttons button {
  width: 45%;
}

input {
  padding: 5px;
  border: 1px solid black;
  font-weight: 500;
}

input[type='color'] {
  background-color: rgba(0,0,0,0);
  border: 0px solid black;
  border-radius: 15px;
  padding: 0;
  -webkit-appearance: none;
  width: 40px;
  height: 25px;
} 

input[type='range'] {
  background-color: green;
  width: 80%;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}


.gallery-work {
  width: 20vw;
  position: relative;
  margin: 10px;
  height: 30vw;
}

.gallery-work img {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  left: 0;
}

.gallery-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90vw;
  margin: auto;
}

.gallery-work:hover .overlay {
  opacity: 1;
  transition: 0.5s;
}

a {
  color: black;
  text-decoration: none;
}

input[name='title'] {
  font-size: 28px;
  margin: 20px 50px;
  color: black;
}

.artwork-single img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;  
}

.artwork-single {
  background-color: green;
  margin: 30px auto;
  position: relative;
  left: 0;
  width: 60vw;
}

.single {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay {
  background-color: black;
  color: white;
  text-align: left;
  padding: 15px;
  opacity: 0;
  z-index: 5;
  position: absolute;
  top: 0;
  width: 60%;
  float: center;
}

h4,h5 {
  margin: 0;
}

.back {
  font-size: 14px;
  padding: 2px 8px;
  position: absolute;
  top: 90px;
  left: 30px;
  text-align: left;
  background-color: black; 
}

a.back {
  color: white;
}

.loading-container {
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 45%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  z-index: 100;
  width: 100px;
  margin: auto;
  border-top: 5px solid black;
  height: 0;
  padding: 0;
  animation: 2.5s spin linear infinite;
}

button.disabled {
  background-color: lightgray;
} 

button.disabled:hover {
  box-shadow: none;
  background-color: lightgray;
  color: white;
  cursor: auto;
}

.error {
  font-weight: normal;
  font-size: 14px;
  color: gray;
}

#empty {
  margin: 50px;
  color: gray;
  width: 100vw;
  text-align: center;
}

#empty span {
  text-decoration: underline;
}

h1.intro {
  font-size: 28px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}