body {
  font-family: 'Roboto Condensed';
}

nav {
  background-color: black;
  height: 40px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 16px;
}

.thumbnail {
  width: 200px;
}

#x {
  font-weight: lighter;
  font-size: 56px;
  text-align: right;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 30px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: space-between;
}

.artwork, .artist {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  flex-wrap: wrap;
}
.artist {
  width: 20vw;
}

.artwork {
  width: 25vw;
}
.artwork img {
  width: 100%;
}

#sketch-container {
  position: relative;
  width: 60vw;
  left: 50px;
}

#sketch-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

canvas {
  position: absolute;
  left: 0;
  z-index: 5;
  width: 100%;
}

.options {
  float: right;
  background-color: #EEEEEE;
  margin: 0 20px;
  padding: 20px;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-weight: bold;
}

.options div, .options button {
  margin: 5px 0;
}

.form {
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  padding: 20px;
  align-items: center;
  width: 350px;
  margin: auto;
}

input {
  padding: 5px;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
}

button {
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px; 
  width: auto;
  background-color: white;
  border: 2px solid black;
}


a {
  color: white;
  text-decoration: none;
}
